<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <!--<h1 class="title">Contact us</h1>-->
            </div>
        </div>

        <div class="section section-contact-us" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center data-col">
                        <h2 class="title">Contact us</h2>
                        <div>
                            <h5>
                                <span><i class="fa fa-address-card"></i> 350 Glassford Rd. Gibsons, BC, V0 N1 V1</span>
                            </h5>
                        </div>
                        <div>
                            <h5>
                                <span><i class="fa fa-envelope"></i> info@highbeamdreams.ca</span>
                            </h5>
                        </div>
                        <!--<div>-->
                            <!--<h5>-->
                                <!--<span><i class="fa fa-mobile-phone"></i> 604-401-0232</span>-->
                            <!--</h5>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="separator separator-primary"></div>

                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto text-center">
                        <h2 class="title">Locate Us here!!</h2>
                        <div class="block">
                            <!--<h2>We Also Count In Google Map</h2>-->
                            <div class="google-map">
                                <iframe width="100%" height="600" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:Ei0zNTAgR2xhc3Nmb3JkIFJkLCBHaWJzb25zLCBCQyBWME4gMVY4LCBDYW5hZGEiGxIZChQKEglXUClz0j-GVBGlj-4yVpj3bBDeAg&key=AIzaSyA83UQgCiLuEUrKftu9MmFN3y20iUTWwmA" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
