<div class="section section-service" id="service">
    <div class="container">
        <h3 class="title">Service</h3>
        <div class="card-group pricing">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-text">
                        <div class="card-title">Gold</div>
                    </div>
                </div>
                <div class="card-body">
                    <h1>
                        <span class="plan-price text-primary">
                        <span class="plan-price-symbol">$</span>
                        <span>1000</span>
                        <span class="plan-price-period">/ day</span>
                        </span>
                    </h1>
                    <ul class="plan-features">
                        <li>Spacious Area</li>
                        <li>Mesmerizing View</li>
                        <li>Secure space</li>
                        <li>500+ Members</li>
                        <li class="text-bold">In house catering</li>
                        <li class="text-bold">In house Event managment</li>
                    </ul>
                    <button class="btn btn-primary" [routerLink]="['/booknow/gold']">Choose plan</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-header-text">
                        <div class="card-title">Silver</div>
                    </div>
                </div>
                <div class="card-body">
                    <h1>
                        <span class="plan-price text-primary">
                  <span class="plan-price-symbol">$</span>
                        <span>600</span>
                        <span class="plan-price-period">/ month</span>
                        </span>
                    </h1>
                    <ul class="plan-features">
                        <li>Spacious Area</li>
                        <li>Mesmerizing View</li>
                        <li>Secure space</li>
                        <li>500+ Members</li>
                        <li class="text-bold">In house catering</li>
                    </ul>
                    <button class="btn btn-primary" [routerLink]="['/booknow/silver']">Choose plan</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-header-text">
                        <div class="card-title">Silver</div>
                    </div>
                </div>
                <div class="card-body">
                    <h1>
                        <span class="plan-price text-primary">
                  <span class="plan-price-symbol">$</span>
                        <span>300</span>
                        <span class="plan-price-period">/ month</span>
                        </span>
                    </h1>
                    <ul class="plan-features">
                        <li>Spacious Area</li>
                        <li>Mesmerizing View</li>
                        <li>Secure space</li>
                        <li>500+ Members</li>
                    </ul>
                    <button class="btn btn-primary" [routerLink]="['/booknow/bronze']">Choose plan</button>
                </div>
            </div>
        </div>
    </div>
</div>