<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <!--<h1 class="title">Rate & Services</h1>-->
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Submit details to get a quote!</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto" >
                    <div class="input-group input-lg" >
                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="now-ui-icons users_circle-08"></i>
                              </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Contact Name">
                    </div>
                    <div class="input-group input-lg" >
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email Id s">
                    </div>
                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="now-ui-icons tech_mobile"></i>
                              </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Mobile Number">
                    </div>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="now-ui-icons clothes_tie-bow"></i>
                              </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Promotional Name Of Event">
                    </div>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="now-ui-icons ui-1_calendar-60"></i>
                              </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Preferred Date">
                    </div>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="now-ui-icons tech_watch-time"></i>
                              </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Start time">
                    </div>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="now-ui-icons tech_watch-time"></i>
                              </span>
                        </div>
                        <input type="text" class="form-control" placeholder="End time">
                    </div>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="now-ui-icons transportation_bus-front-12"></i>
                              </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Number Of Guests">
                    </div>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="now-ui-icons tech_controller-modern"></i>
                              </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Event Type">
                    </div>

                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80"
                                  placeholder="Brief description of the event..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Get Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
