<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/church/in-1.jpeg');">
        </div>
        <div class="container">
            <div class="content-center">
                <!--<h1 class="title">Event & Meetings</h1>-->
            </div>
        </div>
    </div>
    <div class="section section-about-us" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who we are?</h2>
                    <h5 class="description">Originally it was a Gibsons United Church until December 2016. With sweat
                        and love, the owners were able to successfully renovate the property and convert it into an
                        event space with an aim to bring it up to the use of community. Its unique character and
                        appealing design makes it and perfect location for weddings, celebration of life, art, music
                        events, meetings etc. This property is close to Gibsons Marina, beach and Gibsons Public
                        Market. </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>

            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    <h2 class="title">Locate Us here!!</h2>
                    <div class="block">
                        <!--<h2>We Also Count In Google Map</h2>-->
                        <div class="google-map">
                            <iframe width="100%" height="600" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:Ei0zNTAgR2xhc3Nmb3JkIFJkLCBHaWJzb25zLCBCQyBWME4gMVY4LCBDYW5hZGEiGxIZChQKEglXUClz0j-GVBGlj-4yVpj3bBDeAg&key=AIzaSyA83UQgCiLuEUrKftu9MmFN3y20iUTWwmA" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>