<div class="wrapper">
  <div class="page-header clear-filter">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/church-header.jpeg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/church/full-logo-1.png" alt="">
              <h1 class="h1-seo">High Beam Dreams</h1>
              <h3>Events & Meetings</h3>
          </div>

          <div class="text-center">

          </div>
          <h3 class="category category-absolute">
              <a href="https://www.facebook.com/" class="btn btn-primary btn-icon btn-round" target="_blank">
                  <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round" href="https://twitter.com/" target="_blank">
                  <i class="fa fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round" href="https://www.instagram.com/" target="_blank">
                  <i class="fa fa-instagram"></i>
              </a>
          </h3>
      </div>
  </div>

  <!--<footer class="footer" data-background-color="black">-->
      <!--<div class="container">-->
          <!--<nav>-->
              <!--<ul>-->
                  <!--<li>-->
                      <!--<a href="https://www.creative-tim.com">-->
                          <!--Creative Tim-->
                      <!--</a>-->
                  <!--</li>-->
                  <!--<li>-->
                      <!--<a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">-->
                          <!--MIT License-->
                      <!--</a>-->
                  <!--</li>-->
              <!--</ul>-->
          <!--</nav>-->
          <!--<div class="copyright">-->
              <!--&copy; Designed inspired from-->
              <!--<a href="http://www.invisionapp.com" target="_blank">Invision</a>,-->
              <!--<a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.-->
          <!--</div>-->
      <!--</div>-->
  <!--</footer>-->
</div>
