<nav class="navbar navbar-expand-lg bg-primary-shaded fixed-top" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="Events & Meetings">
                <i class="now-ui-icons"><img class="i-logo" src="assets/img/church/full-logo-1.png" alt=""></i>
                <span class="t-logo">High Beam Dreams</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div ngbDropdown class="dropdown">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                            <p>
                                The Venue
                            </p>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <a class="dropdown-item" href="venue/location">Location</a>
                            <!--<a class="dropdown-item" href="venue/technical">Technical</a>-->
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="dropdown">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                            <p>
                                Events
                            </p>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <a class="dropdown-item" href="event/wedding">Wedding</a>
                            <a class="dropdown-item" href="event/celebration">Celebration of Life</a>
                            <a class="dropdown-item" href="event/art">Art</a>
                            <a class="dropdown-item" href="event/music">Music</a>
                            <a class="dropdown-item" href="event/meeting">Meetings/Conferences</a>
                            <a class="dropdown-item" href="event/corporate">Corporate</a>
                            <!--<a class="dropdown-item" href="event/calendar">Event Calendar</a>-->
                            <a class="dropdown-item" href="event/other">Others</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="event/calendar" target="_self">
                        <!--<i class="now-ui-icons arrows-1_cloud-download-93"></i>-->
                        <p>Event Calendar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery" target="_self">
                        <!--<i class="now-ui-icons arrows-1_cloud-download-93"></i>-->
                        <p>Gallery</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="rate">
                        <!--<i class="now-ui-icons arrows-1_cloud-download-93"></i>-->
                        <p>Rates</p>
                    </a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">-->
                <!--&lt;!&ndash;<i class="now-ui-icons arrows-1_cloud-download-93"></i>&ndash;&gt;-->
                <!--<p>Ambiance</p>-->
                <!--</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link" href="contact">
                        <!--<i class="now-ui-icons arrows-1_cloud-download-93"></i>-->
                        <p>Contact Us</p>
                    </a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">-->
                        <!--&lt;!&ndash;<i class="now-ui-icons arrows-1_cloud-download-93"></i>&ndash;&gt;-->
                        <!--<p>Gallery</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">-->
                        <!--&lt;!&ndash;<i class="now-ui-icons arrows-1_cloud-download-93"></i>&ndash;&gt;-->
                        <!--<p>Testimonials</p>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link btn btn-neutral" [routerLink]="['/rate']">
                        <!--<i class="now-ui-icons arrows-1_share-66"></i>-->
                        <p>Book Here</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>